<div class="wrapper">
	<div class="ar">
		<div class="ac l40 m100 s100 pv-5">
			<a href="index.html"><img src="assets/images/icon-72x72.png" class="aione-float-left" alt="Logo" height="40"></a>
		
		</div>
		<div class="ac l60 m100 s100 pv-5">
			<nav id="aione_nav" class="aione-nav horizontal">
				<ul id="aione_menu" class="aione-menu aione-float-right">
					<li class="aione-nav-item level0"><a href="index.html" title="Aione Framework Website Homepage"><span class="nav-item-text" data-hover="Home">Home</span></a></li>
					<li class="aione-nav-item level0"><a href="about.html" title="Aione Framework About Page"><span class="nav-item-text" data-hover="About">About</span></a></li>
				</ul>
	        </nav>
        </div>
	</div>
</div><!-- .wrapper -->
<div class="clear"></div>